version: '2'
services:
  pl-worker-api:
    env_file: .env
    restart: on-failure
    image: pl-worker-api
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "0.0.0.0:8080:8080"
