name: Test

on:
    pull_request: { }
    push:
        branches: [ main ]
        tags: [ "*" ]

jobs:
    test:
        runs-on: ubuntu-latest
        steps:
            -   uses: actions/checkout@v2
            - uses: actions/setup-python@v4
              with:
                python-version: '3.10'
            -   uses: arduino/setup-task@v1
            -   run: task test

        runs-on: ubuntu-latest
        steps:
            -   uses: actions/checkout@v2
            - uses: actions/setup-python@v4
              with:
                python-version: '3.10'
            -   uses: arduino/setup-task@v1
            -   run: task build
